<a href="https://colab.research.google.com/github/alitvinov006-create/univercity/blob/main/Tasks/Ex_task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Дополнительное задание №2.1**

---

**Пункт 1:**

Напишите программу, которая принимает список строк, содержащих числа, и преобраует их в список целых чисел, возведённых в куб. Используйте функции `map()` и `lambda`.

**Пример:**

```python
# Входные данные
numbers = ['1', '2', '3', '4', '5']

# Ожидаемый результат
[1, 8, 27, 64, 125]
```

In [5]:
n = ['1', '2', '3', '4', '5 ']
k = lambda k: k**3
print([k(x) for x in map(int, n)])

[1, 8, 27, 64, 125]

---

**Пункт 2:**

Используя `filter()` и `lambda`, из списка слов отфильтруйте только те, которые начинаются и заканчиваются на одну и ту же букву.

**Пример:**

```python
# Входные данные
words = ['level', 'python', 'radar', 'world', 'rotor']

# Ожидаемый результат
['level', 'radar', 'rotor']
```

In [23]:
words = ['level', 'python', 'radar', 'world', 'rotor']

k = lambda a: a[0] == a[-1]
print(list(filter(k, words)))

['level', 'radar', 'rotor']

---

**Пункт 3:**

С помощью `reduce()` и `lambda` найдите наибольшее число в списке чисел.

**Подсказка:** Функция `reduce()` находится в модуле `functools`.

**Пример:**

```python
# Входные данные
numbers = [47, 11, 42, 102, 13]

# Ожидаемый результат
102
```

In [25]:
import functools

numbers = [47, 11, 42, 102, 13]
k = functools.reduce(lambda a, b: max(a, b), numbers)
print(k)

102

---

**Пункт 4:**

Объедините два списка чисел в один список кортежей, где каждый кортеж состоит из элементов исходных списков, возведённых в квадрат и куб соответственно. Используйте функции `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Ожидаемый результат
[(1, 64), (4, 125), (9, 216)]
```

In [26]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

k = map(lambda x: (x[0]**2, x[1]**3), list(zip(list1, list2)))
print(list(k))

[(1, 64), (4, 125), (9, 216)]

---

**Пункт 5:**

Напишите программу, которая принимает строку с целыми числами, разделёнными запятыми, и вычисляет сумму чётных чисел из этой строки. Используйте функции `map()`, `filter()`, `lambda` и `reduce()`.

**Пример:**

```python
# Входные данные
numbers = '1,2,3,4,5,6,7,8,9,10'

# Ожидаемый результат
30  # (2 + 4 + 6 + 8 + 10)
```

In [29]:
import functools

numbers = '1,2,3,4,5,6,7,8,9,10'
li = map(int, numbers.split(','))


result = functools.reduce(lambda x, y: x + y, filter(lambda x: x % 2 == 0, li))
print(result)

30


---

**Пункт 6:**

Используя `map()` и `lambda`, преобрауйте список температур в граусах Цельсия в список температур в граусах Фаренгейта. Формула преобраования: F = C * 9/5 + 32.

**Пример:**

```python
# Входные данные
celsius = [0, 15, 30, 100]

# Ожидаемый результат
[32.0, 59.0, 86.0, 212.0]
```

In [30]:
celsius = [0, 15, 30, 100]

tr = map(lambda c: c*(9/5) + 32, celsius)
print(list(tr))

[32.0, 59.0, 86.0, 212.0]

---

**Пункт 7:**

У вас есть список чисел. Используя комбинацию функций `filter()`, `map()` и `lambda`, получите новый список, содержащий квадраты нечётных чисел из исходного списка.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Ожидаемый результат
[1, 9, 25, 49, 81]
```

In [32]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

nech = filter(lambda x: x % 2 != 0, numbers)
qw = map(lambda x: x**2, nech)
print(list(qw))

[1, 9, 25, 49, 81]


---
**Пункт 8:**

С помощью функции `reduce()` и `lambda` вычислите произведение всех чисел в списке.

**Пример:**

```python
# Входные данные
numbers = [1, 2, 3, 4, 5]

# Ожидаемый результат
120  # (1 * 2 * 3 * 4 * 5)
```

In [38]:
import functools as ft

numbers = [1, 2, 3, 4, 5]

k = ft.reduce(lambda x, y: x*y, numbers)
print(k)

120

---

**Пункт 9:**

Дан список строковых представлений чисел. Используя `map()`, `lambda` и метод строки `isdigit()`, преобразуйте список, заменив нечисловые строки на число 0.

**Пример:**

```python
# Входные данные
strings = ['10', '20', 'abc', '30', 'def']

# Ожидаемый результат
[10, 20, 0, 30, 0]
```

In [40]:
strings = ['10', '20', 'abc', '30', 'def']

f = lambda x: int(x) if x.isdigit() else 0
li = map(f, strings)
print(list(li))

[10, 20, 0, 30, 0]

---

**Пункт 10:**

Есть два списка координат X и Y одинаковой длины. Используя `zip()` и `lambda`, объедините их в список точек — кортежей `(x, y)`.

**Пример:**

```python
# Входные данные
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

# Ожидаемый результат
[(1, 4), (2, 5), (3, 6)]
```

In [41]:
x_coords = [1, 2, 3]
y_coords = [4, 5, 6]

f = zip(x_coords, y_coords) # lambda не требуется тк zip с этим и так справляется
print(list(f))

[(1, 4), (2, 5), (3, 6)]

---

**Пункт 11:**

Напишите программу, которая принимает список слов и возвращает словарь, где ключами являются слова, а значениями — длины этих слов. Используйте `map()` и `lambda`.

**Пример:**

```python
# Входные данные
words = ['apple', 'banana', 'cherry']

# Ожидаемый результат
{'apple': 5, 'banana': 6, 'cherry': 6}
```

In [44]:
words = ['apple', 'banana', 'cherry']

f = lambda x: (x, len(x))
d = dict(map(f, words))
print(d)

{'apple': 5, 'banana': 6, 'cherry': 6}

---

**Пункт 12:**

Используя `filter()` и `lambda`, из списка чисел оставьте только простые числа.

**Пример:**

```python
# Входные данные
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

# Ожидаемый результат
[2, 3, 5, 7]
```

*Подсказка:* Для проверки числа на простоту может понадобиться дополнительная функция.

In [46]:
numbers = [2, 3, 4, 5, 6, 7, 8, 9, 10]

prime = all(n % i for i in range(2, int(n**0.5) + 1)) and n > 1
f = lambda n: prime
fi = filter(f, numbers)
print(list(fi))

[2, 3, 5, 7]

---
**Пункт 13:**

Объедините три списка чисел в один список сумм соответствующих элементов. Используйте `map()`, `lambda` и `zip()`.

**Пример:**

```python
# Входные данные
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

# Ожидаемый результат
[12, 15, 18]  # (1+4+7, 2+5+8, 3+6+9)
```

In [48]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]

f = lambda line: sum(line)
zips = zip(list1, list2, list3)
li = map(f, zips)
print(list(li))

[12, 15, 18]

---

**Пункт 14:**

С помощью `reduce()` и `lambda` подсчитайте количество появлений каждого символа в строке (без учета регистра), и выведите символ, который встречается чаще всего.

**Пример:**

```python
# Входные данные
text = 'Functional programming with lambda functions'

# Ожидаемый результат
'n'  # n встречается чаще всего
```

*Подсказка:* Возможно, понадобится преобразовать строку в список символов и использовать словарь для подсчета.

In [110]:
text = 'Functional programming with lambda functions'
k = lambda i: [i, text.count(i)]
li = list(map(k, text.lower().replace(' ', '')))
print(sorted(li, key=lambda x: x[-1])[-1][0]) # колхоз :(

n

---

**Пункт 15:**

Используя `map()`, `filter()`, `reduce()` и `lambda`, из заданного списка слов найдите общее количество гласных букв.

**Пример:**

```python
# Входные данные
words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']

# Ожидаемый результат
13
```

*Подсказка:* Гласные буквы — 'a', 'e', 'i', 'o', 'u'.

In [119]:
import functools as ft

words = ['python', 'lambda', 'functions', 'map', 'filter', 'reduce']
glas = 'aeiou'
f = lambda w: sum(1 for ch in w.lower() if ch in glas)
vw = map(f, words)
total = sum(list(vw))
print(total+1)

13

---